body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#days {
    font-size: 100px; 
}

#streakDetails{
    text-align: justify;
    text-justify: inter-word;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
